DATABASE_URL=postgresql://user:password@localhost:5432/myunits
JWT_SECRET=your-access-token-secret
JWT_REFRESH_SECRET=your-refresh-token-secret
PORT=3000

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=your-email@example.com
MAIL_PASS=your-email-password

APP_URL=http://localhost:4200

ADMIN_EMAIL=adminemail
ADMIN_PASSWORD=Adminpassword
ADMIN_NAME=Admin name
